<div class="container">

    <div class="jumbotron jumb">
        <h1 id="color-override" data-aos="fade-down" data-aos-delay="500">Eat the Burger</h1>
        <p id="color-override" data-aos="fade-up" data-aos-delay="800">Create burgers - eat burgers.</p>
        <br>
        <h2 id="color-override" data-aos="zoom-in-right" data-aos-delay="1600">What would You like to Eat?</h2>

    <form class="create-form" data-aos="fade-up" data-aos-delay="2000">
        <div class="form-group">
            {{!-- <label for="newburger" id="color-override">New Burger:</label> --}}
            <input class="form-control int" type="text" id="newburger" name="burger" placeholder="Type in your burger name..."><br>
            <button type="submit" class="btn btn-danger" id="addburger">Let's Get It</button>
        </div>
    </form>
    
       
    </div><!-- /jumbotron -->

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6" data-aos="zoom-in-right" data-aos-delay="2600">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead">New Burgers</div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6" data-aos="zoom-in-left" data-aos-delay="2600">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead">Devoured Burgers</div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div><!-- /container -->